* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas:
    "header header"
    "balance history"
    "input history"
    "footer footer";
}

.header-container {
  grid-area: header;
}

.footer-container {
  grid-area: footer;
}

.balance-container {
  grid-area: balance;
}

.history-container {
  grid-area: history;
}

.input-container {
  grid-area: input;
}
