/* Container */
.container {
  border-radius: 10px;
  max-width: 400px;
  min-height: 700px;
  background: linear-gradient(#f1dcdc, #080101d1);
  box-shadow: 0 0 12px gray;
  margin: 0 auto;
  padding: 2px 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
}
footer {
  text-align: center;
}

.signature {
  text-align: center;
  justify-content: center;
  font-size: large;
  font-family: cursive;
  color: white;
}

.signature a {
  text-decoration: none;
  color: rgb(255, 183, 0);
  text-shadow: 2px 2px 2px black;
}

.signature a:hover {
  color: rgb(68, 255, 68);
}
/* Header */
.main-heading {
  font-family: "Acme", sans-serif;
  color: #610d0d;
  text-shadow: 2px 2px 2px white;
}

.icon {
  height: 100px;
}

.text-center {
  text-align: center;
}

.balance-heading {
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

/* Income Expense and Balance Section */
.balance {
  font-weight: bolder;
  font-size: 25px;
  color: #1bd5e2ce;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.income-expense-container {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px #610d0d;
  background-color: white;
  border-radius: 20px;
}

h3 {
  text-align: center;
  color: white;
  font-weight: 60px;
  text-shadow: 2px 2px 2px black;
}

/* History section */
.history-list {
  margin: 0;
  padding: 0;
}

.history-list > li {
  display: flex;
  background-color: white;
  padding: 10px;
  margin: 8px;
  box-shadow: 0 3px 2px #1bd5e2ce;
  justify-content: space-between;
  border-radius: 4px;
}

/* Add Transaction Section */
.transaction-form input {
  width: 95%;
  outline: none;
  font-size: larger;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px 0;
  background: rgba(255, 254, 254, 0.692);
  padding: 10px;
  border-radius: 10px;
}

.transaction-form input:hover {
  background: rgb(255, 254, 254);
}

.transaction-form input:focus {
  background: rgb(255, 254, 254);
}

.buttons-section {
  align-items: center;
  text-align: center;
}

.submit-btn {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  outline: none;
  color: #fff;
  background-color: #610d0d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px white;
}

.submit-btn:hover {
  background-color: green;
  outline: black;
}

.submit-btn:active {
  background-color: green;
  outline: black;
  transform: translateY(1px);
}

.label {
  font-weight: bolder;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}

hr {
  color: black !important;
  background: black;
  border: 1px solid black;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .submit-btn {
    padding: 15px 25px;
    margin: 10px;
    font-size: 13px;
  }
}

@media (max-width: 390px) {
  .submit-btn {
    margin: 10px auto;
    display: block;
  }
}
