@import "./mixins";

.balance-container {
  @include flexCenter(column);
}

.balance {
  width: 100%;
  @include flexCenter(column);
}

.income-expense-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-align: center;
}
