@import "./mixins";
@import "./variables";

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0.2rem;
  box-shadow: -1px -1px 2px gray;
}

.footer-container h3 {
  margin-left: 8rem;
  font-size: 1rem;
  color: rgb(106, 103, 103);
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 100%;
  margin-right: 8rem;
}

a {
  text-decoration: none;
  color: $primary-color;
}

i {
  width: 1.6rem;
  height: auto;
  margin: 0.1rem;
  font-size: x-large;
}

i:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 6px gray;
}

.facebook {
  color: #3b5998;
}

.github {
  color: black;
}

.linkedIn {
  color: #0e76a8;
}

.twitter {
  color: #00acee;
}

.gmail {
  color: #bb001b;
}

.portfolio {
  color: #00630a;
}

@media (max-width: $mobile) {
  .icons-container {
    margin-right: 0rem;
  }

  .footer-container h3 {
    margin-left: 0rem;
  }

  .footer-container {
    flex-direction: column;
  }
}
