@import "./mixins";
@import "./variables";

$coin-image: "./../../images/coins.svg";

.header-container {
  padding: 0.7rem;
  @include flexCenter(row);
  background: $primary-color;
  border-bottom: 1px solid black;
  border-radius: 0 0 0 30px;
}

.header-container h1 {
  margin: 0 auto;
  font-size: 1.4rem;
  color: $asset-color;
}

.logo {
  width: 2.5rem;
  height: 2.5em;
  margin-left: 2rem;
  background-image: url($coin-image);
  background-size: cover;
}
