@import "./mixins";

$coin-image: "./../../images/coins.svg";

.header-container {
  padding: 0.3rem;
  @include flexCenter(row);
}

.header-container h1 {
  margin: 0 auto;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  background-image: url($coin-image);
  background-size: cover;
}
