@import "./mixins";
@import "./variables";

.history-container {
  @include flexCenter(column);
}

.history-card {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  box-shadow: -1px -1px 2px gray;
  width: 80%;
  border-radius: 0 0 0 50px;
  height: 90%;
}

.list {
  height: 90%;
  overflow-y: scroll;
}

.history-list > li {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0.7rem;
  margin: 1rem;
  color: $primary-color;
  font-weight: 600;
  box-shadow: 1px 2px 3px $primary-color, 3px 0px 1px $primary-color;
}

.heading {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 50px;
  background: $primary-color;
  border-top: 1px solid black;
}

.heading h3 {
  color: $asset-color;
  font-size: 1rem;
}
